<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <meta name="description" content="Author: A.N. Author, Illustrator: P. Picture, Category: Books, Price:  £9.24, Length: 784 pages">
        <meta name="robots" content="noindex,nofollow">
        <link rel="stylesheet" href="/main.css">
    </head>
    <body>
        {{ content }}
    </body>
</html>



